.vscode
.git
bin
mongodb
mongodb_admin
mysql
redis
*debug_bin*


7up/7up
ak47/ak47
andarbahar/andarbahar
crash/crash
dbms/dbms
gate/gate
hua/hua
hua2/hua2
joker/joker
lhd/lhd
login/login
lottery/lottery
mongo2ck/mongo2ck
pay/pay
plane/plane
redblack/redblack
rm/rm
rm2/rm2
robot/robot
simrobot/simrobot
sms/sms
temp-stats/temp-stats
tool/tool
web/web
webAgent/webAgent
webStats/webStats
cmd/cmd
cmd2/cmd2

game/algo/rm_card_library/rm_card_library
game/algo/rm_card_library_v2/rm_card_library_v2
third_party/github.com/gogo/protobuf/protoc-gen-gogo/protoc-gen-gogo

table
m-table
proto

main
*.txt

third_party/github.com/gogo/protobuf/test
web/assets
webAgent/assets
webStats/assets

makefile
configs

run

cmd/game/game
cmd/global/global
cmd/web/web

publish