conf.ini
conf.ini.backup
ctrl.log
*.bin
*.log
update.tar.gz
*.tar.gz

logs
*debug_bin*
packet.go
unpack.go
rpacket.go
runpack.go
go.work.sum
proto
!/third_party/github.com/gogo/protobuf/proto/

mongodb
mongodb_admin
mysql
redis
nats-storage
bookmarks.json
nohup.out
bin.tar.gz
# tool/pb
*.pb.go
!/third_party/**/*.pb.go
web/conf/app.conf
monitor
app.conf
sms.ini

7up/7up
ak47/ak47
andarbahar/andarbahar
crash/crash
dbms/dbms
gate/gate
hua/hua
hua2/hua2
joker/joker
lhd/lhd
login/login
lottery/lottery
mongo2ck/mongo2ck
pay/pay
plane/plane
redblack/redblack
rm/rm
rm2/rm2
robot/robot
simrobot/simrobot
sms/sms
temp-stats/temp-stats
tool/tool
web/web
webAgent/webAgent
webStats/webStats

game/algo/rm_card_library/rm_card_library
game/algo/rm_card_library_v2/rm_card_library_v2
third_party/github.com/gogo/protobuf/protoc-gen-gogo/protoc-gen-gogo

free
tbl
table
m-table
!pkg/table


bin/temp_stats_export
bin/free
*.txt
# main
alertmanager_tg_bot
config
config-web
cmd/cmd
cmd2/cmd2

!run/config
!internal/global/pay/config/

!internal/game/pay/config/
!pkg/game/config/

cmd/game/game
cmd/global/global
cmd/web/web

run/*
!run/.gitkeep
!run/config

misc/mongo2ck/mongo2ck

gen/tb

*.xlsx
