
<div class="alert alert-warning alert-dismissible hide" role="alert"></div>

<form class="form-horizontal ajax-form" method="post" action="{{urlfor "GameController.ControlEdit"}}">
	<input type="hidden" name="userid" value="{{.info.Userid}}" />
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label"></label>
		<div class="col-sm-6">
			<label class="control-label">
				<input type="radio" name="switch" value="1" {{if eq .info.PCSwitch true}}checked{{end}}  />开启点控</label>
			<label class=" control-label" style="padding-left: 10px;">
				<input type="radio" name="switch" value="0" {{if eq .info.PCSwitch false}}checked{{end}} />关闭点控</label>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">系统设置</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="factor" name="factor" value="{{.info.PCFactor}}" oninput = "value=value.replace(/[^\d]/g,'')" autocomplete="off" />
		</div>
		<div style="line-height: 34px; ">系数可填数值为0-200，100为中间值，0-100为控输，100-200为控赢</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">分数设置</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="score" name="score" value="{{.info.PCScore}}" autocomplete="off" />
		</div>
		<div style="line-height: 34px;">当玩家达到此设置后，自动解除控制，设置正数为玩家赢分，负数为玩家输分</div>
	</div>
  

	<div class="clearfix form-actions">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
			<a href="{{urlfor "GameController.Control"}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
		</div>
	</div>
</form>
