<div class="row">
	<div class="col-xs-12">
<div class="space-4"></div>

<div class="table-panel">
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
            <th>游戏</th>
			<th>参与人次</th>
            <th>总局数</th>
            <th>人均局数</th>
            <th>人均时长</th>
            <th>新手库存</th>
			{{if $.isOperation }}
				<th>操作</th>
			{{end}}
		</tr>
		</thead>
	<tbody>
		{{range $k, $v := .list}}
			<tr>
				<td>{{ $v.GName }}</td>
				<td>{{ $v.PartIn }}</td>
                <td>{{ $v.PlayTimes }}</td>
                <td>{{ printf "%.2f" $v.RoundsAvg }}</td>
                <td>{{ printf "%.2f" $v.GTimeAvg }}</td>
                <td>{{ printf "%.2f" $v.FCashStock }}</td>
				{{if $.isOperation }}
					<td><a style="margin-left: 5px;" data-toggle="modal" data-target="#addModal" data-id="{{$v.Id}}" data-name="{{$v.CashStock}}">修改</a></td>
				{{end}}
			</tr>
		{{end}}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="row-page"> 
		{{if gt .count 20}}
		{{str2html .pageBar}}
	{{end}}
	</div>
</div>
</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
	<form class="form-horizontal ajax-form" method="post" action="{{urlfor "StatisticsController.EditNoviceStock"}}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">修改</h4>
				</div>
				<div class="modal-body">
					<div id="alert-warning" class="alert alert-warning alert-dismissible hide" role="alert"></div>
					<input type="hidden" id="gtype" name="gtype">
					<div class="form-group">
						<label class="col-sm-3 form-lable">新手库存：</label>
						<input class="col-sm-8" type="number" class="form-control" id="stock" name="stock" placeholder="请输入新手库存" autocomplete="off" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</form>
</div>


<script>
	$(document).ready(function(){
		$('#addModal').on('show.bs.modal', function (event) {
			// 获取用户 ID
			// var userId = $(event.relatedTarget).data('id');
			var war = document.getElementById("alert-warning");
			war.classList.add("hide");
            $('#stock').val('')
			var id = $(event.relatedTarget).data('id');
			var name = $(event.relatedTarget).data('name');
			if (typeof id !== "undefined" && id !== "") {
				$('#gtype').val(id)
			}
			if (typeof name !== "undefined" && name !== "") {
				$('#stock').val(name)
			}
		});
	});
</script>