							
<div class="row">
	<div class="col-xs-12">
	
	<div class="tabbable">
		<ul class="nav nav-tabs" id="list-tab">
			<li {{if eq .typeId 0}}class="active"{{end}}>
				<a href="{{urlfor "StatisticsController.Pay" "typeId" 0}}">充值排名</a>
			</li>
			<li {{if eq .typeId 1}}class="active"{{end}}>
				<a href="{{urlfor "StatisticsController.Pay" "typeId" 1}}">提现排名</a>
			</li>
            <li {{if eq .typeId 2}}class="active"{{end}}>
				<a href="{{urlfor "StatisticsController.Pay" "typeId" 2}}">盈利排名</a>
			</li>
		</ul>
	
		<div class="tab-content">
		
		<div class="row">
			<div class="col-xs-12">
				<form class="form-inline" method="post" action="{{urlfor "StatisticsController.Pay"}}">
				<input type="hidden" name="typeId" value="{{.typeId}}" />
                <div class="input-group table_filtrate">
                    时间:
                    <div class="input-group input-group-sm">
                        <input type="text" id="start_date" name="start_date" value="{{.startDate}}" class="form-control" autocomplete="off"/>
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-calendar"></i>
                        </span>
                    </div>
                    至
                    <div class="input-group input-group-sm">
                        <input type="text" id="end_date" name="end_date" value="{{.endDate}}" class="form-control" autocomplete="off"/>
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
					<div class="input-group input-group-sm">
						<button type="submit" class="btn">查询</button>
					</div>
				</form>
			</div>
		</div>
		<div class="space-4"></div>

		<div class="table-panel">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>排行</th>
						<th>用户ID</th>
						<th>账户类型</th>
						<th>充值金额</th>
						<th>提现金额</th>
						<th>盈利</th>
						<th>最后登录时间</th>
					</tr>
				</thead>
				<tbody>
					{{range $k, $v := .list}}
					<tr>
						<td>{{ $v.Ranking }}</td>
						<td>
							<a href="{{urlfor "Statistics2Controller.PlayerData" "userid"  $v.UserId}}" target="_blank">{{$v.UserId}}</a>
						</td>
						<td>
							{{if eq $v.RegistArea 1}}
								<span class="bigger-110">B类</span>
							{{else if eq $v.RegistArea 2}}
								<span class="bigger-110">C类</span>
							{{else}}
								<span class="bigger-110">A类</span>
							{{end}}
						</td>
						<td>{{ printf "%.2f"  $v.PayAmount }}</td>
						<td>{{ printf "%.2f"  $v.WithdrawAmount }}</td>
						<td>{{ printf "%.2f"  $v.ProfitAmount }}</td>
						<td>
							{{ if $v.LoginTime.IsZero }}
								- <!-- 默认值为空时展示默认格式的时间 -->
							{{ else }}
								{{date $v.LoginTime "Y-m-d H:i:s"}} <!-- 不为空时展示时间字段的值 -->
							{{ end }}
						</td>
					</tr>
					{{end}}
	
					{{if eq .count 0}}
					<tr>
						<td colspan="20">暂无记录...</td>
					</tr>
				{{end}}
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="row-page"> 
				{{if gt .count 20}}
				{{str2html .pageBar}}
			{{end}}
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
