<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" method="post" action="{{urlfor "StatisticsController.PlayerRecharge"}}">
            <div class="input-group table_filtrate">
                玩家ID:
                <div class="input-group input-group-sm">
                    <input type="text" id="userid" name="userid" value="{{.userid}}" class="form-control"
                        style="width: 200px;" placeholder="玩家ID" autocomplete="off" />
                    <span class="input-group-addon">
                        <i class="ace-icon fa fa-users"></i>
                    </span>
                </div>
            </div>
            <div class="input-group table_filtrate">
                充值次数:
                <div class="input-group input-group-sm">
                    <input type="number" id="paycount" name="paycount" value="{{.paycount}}" placeholder="最高可填写10次"
                        class="form-control number-input" max="10" autocomplete="off" />
                </div>
            </div>

            <div class="input-group input-group-sm">
                <button type="submit" class="btn">查询</button>
            </div>
        </form>
        <div class="space-4"></div>

        <div class="table-panel" table-wrap="280">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>总充值次数</th>
                        <th>总充值均价</th>
                        {{range $j,$c := .totalCount}}
                        <th>第{{ $c }}次充值额度</th>
                        <th>第{{ $c }}次购买商品类型</th>
                        <th>第{{ $c }}次充值前打码量最多的游戏</th>
                        {{end}}
                    </tr>
                </thead>
                <tbody>
                    {{range $k, $v := .list}}
                    <tr>
                        <td>{{$v.Userid}}</td>
                        <td>{{$v.TotalCount}}</td>
                        <td>{{printf "%.2f" $v.TotalAvg}}</td>
                        {{range $i,$o := $v.Details }}
                        <td>
                            {{if eq $o.Amount 0}}
                            <span>/</span>
                            {{else}}
                            <span>{{printf "%.2f" $o.FAmount}}</span>
                            {{end}}
                        </td>
                        <td>
                            {{if eq $o.ShopType 0}}
                            <span>/</span>
                            {{else}}
                            <span>{{$o.ShopName}}</span>
                            {{end}}
                        </td>
                        <td>
                            {{if eq $o.Gtype 0}}
                            <span>/</span>
                            {{else}}
                            <span>{{$o.GameName}}</span>
                            {{end}}
                        </td>
                        {{end}}
                    </tr>
                    {{end}}
                    {{if eq .count 0}}
                    <tr>
                        <td colspan="20">暂无记录...</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="row-page">
                {{if gt .count 20}}
                {{str2html .pageBar}}
                {{end}}
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function() { _StickyMemory() });
</script>
