<div class="row">
    <div class="col-xs-12">

        <div class="tabbable">
            <ul class="nav nav-tabs" id="list-tab">
                <li {{if eq .typeId 0}}class="active" {{end}}>
                    <a href="{{urlfor "StatisticsController.UserGeneralStats" "typeId" 0}}">经济总况</a>
                </li>
                <li {{if eq .typeId 1}}class="active" {{end}}>
                    <a href="{{urlfor "StatisticsController.UserGeneralStats" "typeId" 1}}">游戏分布</a>
                </li>
                <li {{if eq .typeId 2}}class="active" {{end}}>
                    <a href="{{urlfor "StatisticsController.UserGeneralStats" "typeId" 2}}">VIPbank明细</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-inline" method="post" action="{{urlfor "StatisticsController.UserGeneralStats"}}">
                            <input type="hidden" name="typeId" value="{{.typeId}}" />
                            <input type="hidden" name="status" value="{{.status}}" />
                            <div class="input-group table_filtrate">
                                账号查询:
                                <div class="input-group input-group-sm">
                                    <input type="text" id="userid" name="userid" value="{{.userid}}" class="form-control"
                                        placeholder="玩家ID" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-users"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                时间:
                                <div class="input-group input-group-sm">
                                    <input type="text" id="start_date" name="start_date" value="{{.startDate}}"
                                        class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                                至
                                <div class="input-group input-group-sm">
                                    <input type="text" id="end_date" name="end_date" value="{{.endDate}}"
                                        class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="input-group table_filtrate">
                                渠道:
                                <div class="input-group" id="package_div">
                                    <select id="selectPackage" class="selectpicker" multiple data-live-search="true"
                                        data-width="200px" style="width: 200px !important;" title="请选择渠道">
                                        {{range $k,$v := .packageList}}
                                        <option value="{{$v.Key}}" {{if eq $.packageId $v.Key}}selected{{end}}>
                                            {{$v.Name}}</option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="package_id" name="package_id" value="{{.packageId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div> -->
                            <div class="input-group table_filtrate">
                                渠道类:
                                <div class="input-group input-group-sm" id="class_div">
                                    <select id="selectClass" class="selectpicker" multiple data-live-search="true"
                                        data-width="100px" style="width: 100px !important;" title="请选择渠道类">
                                        {{range $k,$v := .packageClassAll}}
                                        <option value="{{$v.Key}}" {{if eq $.classId $v.Key}}selected{{end}}>{{$v.Name}}
                                        </option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="class_id" name="class_id" value="{{.classId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                渠道别名:
                                <div class="input-group input-group-sm" id="alias_div">
                                    <select id="selectAlias" class="selectpicker" multiple data-live-search="true"
                                        data-width="100px" style="width: 100px !important;" title="请选择渠道别名">
                                        {{range $k,$v := .packageAliasList}}
                                        <option value="{{$v.Key}}" {{if eq $.aliasId $v.Key}}selected{{end}}>{{$v.Name}}
                                        </option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="alias_id" name="alias_id" value="{{.aliasId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                玩家类型:
                                <div class="input-group input-group-sm" id="utype_id_div">
                                    <select id="sutype_id" class="selectpicker" multiple style="width: 80px;" data-live-search="true">
                                        {{range $k,$v := .usertype}}
                                        <option value="{{$k}}" >{{$v}}</option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="utype_id" name="utype_id" value="{{.usertypeId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                账号类型:
                                <div class="input-group input-group-sm">
                                    <select name="tab_id" id="tab_id" style="width: 80px;">
                                        <option value="0" {{if eq 0 $.tabId}}selected{{end}}>全部</option>
                                        <option value="1" {{if eq 1 $.tabId}}selected{{end}}>A类</option>
                                        <option value="2" {{if eq 2 $.tabId}}selected{{end}}>B类</option>
                                        <option value="3" {{if eq 3 $.tabId}}selected{{end}}>C类</option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top:10px;display: inline-block;">
                                <div class="input-group table_filtrate">
                                    存活天数筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="liveDays1" name="liveDays1" value="{{.liveDays1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="liveDays2" name="liveDays2" value="{{.liveDays2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group table_filtrate">
                                    流失天数筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="lossDays1" name="lossDays1" value="{{.lossDays1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="lossDays2" name="lossDays2" value="{{.lossDays2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                 
                                {{if eq .typeId 0}}
                                <div class="input-group table_filtrate">
                                    账面净赢利筛选筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="profit1" name="profit1" value="{{.profit1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="profit2" name="profit2" value="{{.profit2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group table_filtrate">
                                    实得净赢利筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="profitCash1" name="profitCash1" value="{{.profitCash1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="profitCash2" name="profitCash2" value="{{.profitCash2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                {{end}}
                                
                                {{if or (eq .typeId 1) (eq .typeId 2) }}
                                <div class="input-group table_filtrate">
                                    打码量筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="bets1" name="bets1" value="{{.bets1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="bets2" name="bets2" value="{{.bets2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                {{end}}
                                {{if eq .typeId 1}}
                                <div class="input-group table_filtrate">
                                    局均打码量筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="betAvg1" name="betAvg1" value="{{.betAvg1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="betAvg2" name="betAvg2" value="{{.betAvg2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group table_filtrate">
                                    净赢筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input type="number" id="cash1" name="cash1" value="{{.cash1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input type="number" id="cash2" name="cash2" value="{{.cash2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                {{end}}
                                {{if eq .typeId 2}}
                                <div class="input-group table_filtrate">
                                    总充值金额筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input type="number" id="money1" name="money1" value="{{.money1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input type="number" id="money2" name="money2" value="{{.money2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                {{end}}
                            </div>
                            <div class="input-group input-group-sm">
                                <button type="submit" class="btn">查询</button>
                                <a href="{{urlfor "StatisticsController.UserGeneralStatsExport" "start_date" .startDate "end_date" .endDate "status" .status "package_id" .packageId "typeId" .typeId "alias_id" .aliasId "class_id" .classId "alias_name" .aliasName "utype_id" .utypeId "tab_id" .tabId "userid" .userid "liveDays1" .liveDays1 "liveDays2" .liveDays2 "lossDays1" .lossDays1 "lossDays2" .lossDays2 "profit1" .profit1 "profit2" .profit2 "profitCash1" .profitCash1 "profitCash2" .profitCash2 "bets1" .bets1 "bets2" .bets2 "betAvg1" .betAvg1 "betAvg2" .betAvg2 "cash1" .cash1 "cash2" .cash2 "money1" .money1 "money2" .money2}}" class="btn" style="margin-left: 5px;">导出</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="space-4"></div>

                {{if eq .typeId 0}}
                <div class="table-panel" table-wrap="360">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th stickyL>玩家id</th>
                                <th>玩家昵称</th>
                                <th>渠道类</th>
                                <th>渠道别名</th>
                                <th>玩家类型</th>
                                <th>账号类型</th>
                                <th>注册时间</th>
                                <th>最后登陆时间</th>
                                <th>存活天数</th>
                                <th>流失天数</th>
                                <th>携带金额</th>
                                <th>总充值金额</th>
                                <th>总提走金额</th>
                                <th>待审核金额</th>
                                <th>审核通过未到账金额</th>
                                <th>被冻结金额</th>
                                <th>账面返奖率</th>
                                <th>账面净盈利</th>
                                <th>实得净盈利</th>
                                <th>自研游戏净盈利</th>
                                <th>外接slots净盈利</th>
                                <th>外接真人净盈利</th>
                                <th>VIPbank未解锁bonus</th>
                                <th>打码解锁并领走的金额</th>
                                <th>打码已经解锁未领走的金额</th>
                                <th>其他领取的cash</th>
                                <th>充值玩家试玩金转化成bonus金额</th>
                                <th>误差额</th>
                                <th>VIP中产出cash占总充值比例</th>
                                <th style="background-color: #b7b7b7;"></th>
                                <th>tp净盈利/返奖率</th>
                                <th>rummy净盈利/返奖率</th>
                                <th>crash净盈利/返奖率</th>
                                <th>aviator净盈利/返奖率</th>
                                <th>lhd净盈利/返奖率</th>
                                <th>7up净盈利/返奖率</th>
                                <th>kingvsqueen净盈利/返奖率</th>
                                <th>ab净盈利/返奖率</th>
                                <th>l3净盈利/返奖率</th>
                                <th>joker净盈利/返奖率</th>
                                <th>ak47净盈利/返奖率</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $k, $v := .list}}
                            <tr>
                                <!--序号--><td>{{$v.No}}</td>
                                <!--玩家id--><td>{{$v.Userid}}</td>
                                <!--玩家昵称--><td>{{$v.Nickname}}</td>
                                <!--渠道类--><td>{{$v.ChannelClass}}</td>
                                <!--渠道别名--><td>{{$v.ChannelAlias}}</td>
                                <!--玩家类型--><td>{{$v.UserType}}</td>
                                <!--账号类型--><td>{{$v.RegistArea}}</td>
                                <!--注册时间--><td>{{$v.Ctime}}</td>
                                <!--最后登陆时间--><td>{{$v.LoginTime}}</td>
                                <!--存活天数--><td>{{$v.LiveDays}}</td>
                                <!--流失天数--><td>{{$v.LoseDays}}</td>
                                <!--携带金额--><td>{{$v.Diamond}}</td>
                                <!--总充值金额--><td>{{$v.PayAmount}}</td>
                                <!--总提走金额--><td>{{$v.WithdrawAmount}}</td>
                                <!--待审核金额--><td>{{$v.WithdrawAmountWait}}</td>
                                <!--审核通过未到账金额--><td>{{$v.WithdrawAmountProcess}}</td>
                                <!--被冻结金额--><td>{{$v.WithdrawAmountFreeze}}</td>
                                <!--账面返奖率--><td>{{$v.RebateRate}}</td>
                                <!--账面净盈利--><td>{{$v.Profit}}</td>
                                <!--实得净盈利--><td>{{$v.ProfitCash}}</td>
                                <!--自研游戏净盈利--><td>{{$v.ProfitGames}}</td>
                                <!--外接slots净盈利--><td>{{$v.ProfitExternalSlots}}</td>
                                <!--外接真人净盈利--><td>{{$v.ProfitExternalZrsx}}</td>
                                <!--VIPbank未解锁bonus--><td>{{$v.VipBankUnlockBonus}}</td>
                                <!--打码解锁并领走的金额--><td>{{$v.VipBankClaimedBonus}}</td>
                                <!--打码已经解锁未领走的金额--><td>{{$v.VipBankUnclaimedBonus}}</td>
                                <!--其他领取的cash--><td>{{$v.OtherCash}}</td>
                                <!--充值玩家试玩金转化成bonus金额--><td>{{$v.TryBonus}}</td>
                                <!--误差额--><td>{{$v.FaultCash}}</td>
                                <!--VIP中产出cash占总充值比例--><td>{{$v.VipCashPayRate}}</td>
                                <td style="background-color: #b7b7b7;"></td>
                                <!--tp净盈利/返奖率--><td>{{$v.TpScoreStats}}</td>
                                <!--rummy净盈利/返奖率--><td>{{$v.RummyScoreStats}}</td>
                                <!--crash净盈利/返奖率--><td>{{$v.CrashScoreStats}}</td>
                                <!--aviator净盈利/返奖率--><td>{{$v.AviatorScoreStats}}</td>
                                <!--lhd净盈利/返奖率--><td>{{$v.LhdScoreStats}}</td>
                                <!--7up净盈利/返奖率--><td>{{$v.UpScoreStats}}</td>
                                <!--kingvsqueen净盈利/返奖率--><td>{{$v.KingvsqueenScoreStats}}</td>
                                <!--ab净盈利/返奖率--><td>{{$v.AbScoreStats}}</td>
                                <!--l3净盈利/返奖率--><td>{{$v.L3ScoreStats}}</td>
                                <!--joker净盈利/返奖率--><td>{{$v.JokerScoreStats}}</td>
                                <!--ak47净盈利/返奖率--><td>{{$v.Ak47ScoreStats}}</td>
                            </tr>
                            {{end}}
                            {{if eq .count 0}}
                            <tr>
                                <td colspan="20">暂无记录...</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row-page"> 
                        {{if gt .count 20}}
                            {{str2html .pageBar}}
                        {{end}}
                    </div>
                </div>
                {{else if eq .typeId 1}}
                <div class="table-panel" table-wrap="360">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th stickyL>玩家id</th>
                                <th>玩家昵称</th>
                                <th>渠道类</th>
                                <th>渠道别名</th>
                                <th>玩家类型</th>
                                <th>账号类型</th>
                                <th>注册时间</th>
                                <th>最后登陆时间</th>
                                <th>存活天数</th>
                                <th>流失天数</th>
                                <th>总游戏局数</th>
                                <th>总打码量</th>
                                <th>局均打码</th>
                                <th>净赢</th>
                                <th>自研局数合计</th>
                                <th>外接slots局数合计</th>
                                <th>外接真人局数合计</th>
                                <th>自研局数占比</th>
                                <th>外接slots局数占比</th>
                                <th>外接真人局数占比</th>
                                <th>自研打码量合计</th>
                                <th>外接slots打码量合计</th>
                                <th>外接真人打码量合计</th>
                                <th>自研打码量占比</th>
                                <th>外接slots打码量占比</th>
                                <th>外接真人打码量占比</th>
                                <th style="background-color: #b7b7b7;"></th>
                                <th>tp局数/占比</th>
                                <th>rummy局数/占比</th>
                                <th>crash局数/占比</th>
                                <th>aviator局数/占比</th>
                                <th>lhd局数/占比</th>
                                <th>7up局数/占比</th>
                                <th>kingvsqueen局数/占比</th>
                                <th>ab局数/占比</th>
                                <th>l3局数/占比</th>
                                <th>joker局数/占比</th>
                                <th>ak47局数/占比</th>
                                <th style="background-color: #b7b7b7;"></th>
                                <th>tp打码量/占比</th>
                                <th>rummy打码量/占比</th>
                                <th>crash打码量/占比</th>
                                <th>aviator打码量/占比</th>
                                <th>lhd打码量/占比</th>
                                <th>7up打码量/占比</th>
                                <th>kingvsqueen打码量/占比</th>
                                <th>ab打码量/占比</th>
                                <th>l3打码量/占比</th>
                                <th>joker打码量/占比</th>
                                <th>ak47打码量/占比</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $k, $v := .list}}
                            <tr>
                                <!--序号--> <td>{{$v.No}}</td>
                                <!--玩家id--> <td>{{$v.Userid}}</td>
                                <!--玩家昵称--> <td>{{$v.Nickname}}</td>
                                <!--渠道类--> <td>{{$v.ChannelClass}}</td>
                                <!--渠道别名--> <td>{{$v.ChannelAlias}}</td>
                                <!--玩家类型--> <td>{{$v.UserType}}</td>
                                <!--账号类型--> <td>{{$v.RegistArea}}</td>
                                <!--注册时间--> <td>{{$v.Ctime}}</td>
                                <!--最后登陆时间--> <td>{{$v.LoginTime}}</td>
                                <!--存活天数--> <td>{{$v.LiveDays}}</td>
                                <!--流失天数--> <td>{{$v.LoseDays}}</td>
                                <!--总游戏局数--> <td>{{$v.AllRounds}}</td>
                                <!--总打码量--> <td>{{$v.Bets}}</td>
                                <!--局均打码--> <td>{{$v.BetsAvg}}</td>
                                <!--净赢--> <td>{{$v.Cash}}</td>
                                <!--自研局数合计--> <td>{{$v.RoundsGame}}</td>
                                <!--外接slots局数合计--> <td>{{$v.RoundsSlots}}</td>
                                <!--外接真人局数合计--> <td>{{$v.RoundsZrsx}}</td>
                                <!--自研局数占比--> <td>{{$v.RoundsRateGame}}</td>
                                <!--外接slots局数占比--> <td>{{$v.RoundsRateSlots}}</td>
                                <!--外接真人局数占比--> <td>{{$v.RoundsRateZrsx}}</td>
                                <!--自研打码量合计--> <td>{{$v.BetsGames}}</td>
                                <!--外接slots打码量合计--> <td>{{$v.BetsSlots}}</td>
                                <!--外接真人打码量合计--> <td>{{$v.BetsZrsx}}</td>
                                <!--自研打码量占比--> <td>{{$v.BetsRateGames}}</td>
                                <!--外接slots打码量占比--> <td>{{$v.BetsRateSlots}}</td>
                                <!--外接真人打码量占比--> <td>{{$v.BetsRateZrsx}}</td>
                                <td style="background-color: #b7b7b7;"></td>
                                <!--tp局数/占比--> <td>{{$v.TpRoundStats}}</td>
                                <!--rummy局数/占比--> <td>{{$v.RummyRoundStats}}</td>
                                <!--crash局数/占比--> <td>{{$v.CrashRoundStats}}</td>
                                <!--aviator局数/占比--> <td>{{$v.AviatorRoundStats}}</td>
                                <!--lhd局数/占比--> <td>{{$v.LhdRoundStats}}</td>
                                <!--7up局数/占比--> <td>{{$v.UpRoundStats}}</td>
                                <!--kingvsqueen局数/占比--> <td>{{$v.KingvsqueenRoundStats}}</td>
                                <!--ab局数/占比--> <td>{{$v.AbRoundStats}}</td>
                                <!--l3局数/占比--> <td>{{$v.L3RoundStats}}</td>
                                <!--joker局数/占比--> <td>{{$v.JokerRoundStats}}</td>
                                <!--ak47局数/占比--> <td>{{$v.Ak47RoundStats}}</td>
                                <td style="background-color: #b7b7b7;"></td>
                                <!--tp打码量/占比--> <td>{{$v.TpBetsStats}}</td>
                                <!--rummy打码量/占比--> <td>{{$v.RummyBetsStats}}</td>
                                <!--crash打码量/占比--> <td>{{$v.CrashBetsStats}}</td>
                                <!--aviator打码量/占比--> <td>{{$v.AviatorBetsStats}}</td>
                                <!--lhd打码量/占比--> <td>{{$v.LhdBetsStats}}</td>
                                <!--7up打码量/占比--> <td>{{$v.UpBetsStats}}</td>
                                <!--kingvsqueen打码量/占比--> <td>{{$v.KingvsqueenBetsStats}}</td>
                                <!--ab打码量/占比--> <td>{{$v.AbBetsStats}}</td>
                                <!--l3打码量/占比--> <td>{{$v.L3BetsStats}}</td>
                                <!--joker打码量/占比--> <td>{{$v.JokerBetsStats}}</td>
                                <!--ak47打码量/占比--> <td>{{$v.Ak47BetsStats}}</td>
                            </tr>
                            {{end}}
                            {{if eq .count 0}}
                            <tr>
                                <td colspan="20">暂无记录...</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row-page"> 
                        {{if gt .count 20}}
                            {{str2html .pageBar}}
                        {{end}}
                    </div>
                </div>
                {{else if eq .typeId 2}}
                <div class="table-panel" table-wrap="360">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th stickyL>玩家id</th>
                                <th>玩家昵称</th>
                                <th>渠道类</th>
                                <th>渠道别名</th>
                                <th>玩家类型</th>
                                <th>账号类型</th>
                                <th>注册时间</th>
                                <th>最后登陆时间</th>
                                <th>存活天数</th>
                                <th>流失天数</th>
                                <th>VIP最高等级</th>
                                <th>VIP当前等级</th>
                                <th>总充值金额</th>
                                <th>总打码量</th>
                                <th>打码量与充值金额比</th>
                                <th>打码解锁比例</th>
                                <th>bonus与打码量比</th>
                                <th>bonus与总充值金额比</th>
                                <th>VIP中产出cash占总充值比例</th>
                                <th>VIPbank累计bonus总额</th>
                                <th>VIPbank未解锁bonus</th>
                                <th>打码解锁并领走的金额</th>
                                <th>打码已经解锁未领走的金额</th>
                                <th>bank总流水误差额</th>
                                <th style="background-color: #b7b7b7;"></th>
                                <th>试玩金转化成bonus的金额</th>
                                <th>VIP升级奖金</th>
                                <th>VIP周奖金</th>
                                <th>充值时赠送的bonus</th>
                                <th>在线时长抽奖获得的bonus</th>
                                <th>完成任务获得的bonus</th>
                                <th>分享下家的打码返bonus</th>
                                <th>分享下家首充返bonus</th>
                                <th>利息</th>
                                <th>bonus来源误差额</th>
                                <th style="background-color: #b7b7b7;"></th>
                                <th>试玩金转化的bonus占比</th>
                                <th>VIP升级奖金的bonus占比</th>
                                <th>VIP周奖金的bonus占比</th>
                                <th>充值时赠送的的bonus占比</th>
                                <th>在线时长抽奖获得的bonus占比</th>
                                <th>完成任务获得的bonus占比</th>
                                <th>分享下家的打码返bonus占比</th>
                                <th>分享下家首充返bonus占比</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $k, $v := .list}}
                            <tr>
                                <!--序号--><td>{{$v.No}}</td>
                                <!--玩家id--><td>{{$v.Userid}}</td>
                                <!--玩家昵称--><td>{{$v.Nickname}}</td>
                                <!--渠道类--><td>{{$v.ChannelClass}}</td>
                                <!--渠道别名--><td>{{$v.ChannelAlias}}</td>
                                <!--玩家类型--><td>{{$v.UserType}}</td>
                                <!--账号类型--><td>{{$v.RegistArea}}</td>
                                <!--注册时间--><td>{{$v.Ctime}}</td>
                                <!--最后登陆时间--><td>{{$v.LoginTime}}</td>
                                <!--存活天数--><td>{{$v.LiveDays}}</td>
                                <!--流失天数--><td>{{$v.LoseDays}}</td>
                                <!--VIP最高等级--><td>{{$v.VipLevelMax}}</td>
                                <!--VIP当前等级--><td>{{$v.VipLevel}}</td>
                                <!--总充值金额--><td>{{$v.PayAmount}}</td>
                                <!--总打码量--><td>{{$v.Bets}}</td>
                                <!--打码量与充值金额比--><td>{{$v.BetsPayRate}}</td>
                                <!--打码解锁比例--><td>{{$v.BetsBonusRate}}</td>
                                <!--bonus与打码量比--><td>{{$v.BonusBetsRate}}</td>
                                <!--bonus与总充值金额比--><td>{{$v.BonusPayRate}}</td>
                                <!--VIP中产出cash占总充值比例--><td>{{$v.VipCashPayRate}}</td>
                                <!--VIPbank累计bonus总额--><td>{{$v.VipBonus}}</td>
                                <!--VIPbank未解锁bonus--><td>{{$v.VipBankBonus}}</td>
                                <!--打码解锁并领走的金额--><td>{{$v.CashoutBonus}}</td>
                                <!--打码已经解锁未领走的金额--><td>{{$v.UnlockBonus}}</td>
                                <!--bank总流水误差额--><td>{{$v.FaultBank}}</td>
                                <td style="background-color: #b7b7b7;"></td>
                                <!--试玩金转化成bonus的金额--><td>{{$v.TryBonus}}</td>
                                <!--VIP升级奖金--><td>{{$v.VipUpgradeBonus}}</td>
                                <!--VIP周奖金--><td>{{$v.VipWeekBonus}}</td>
                                <!--充值时赠送的bonus--><td>{{$v.ChargeBonus}}</td>
                                <!--在线时长抽奖获得的bonus--><td>{{$v.OnlineBonus}}</td>
                                <!--完成任务获得的bonus--><td>{{$v.TaskBonus}}</td>
                                <!--分享下家的打码返bonus--><td>{{$v.ShareBetsBonus}}</td>
                                <!--分享下家首充返bonus--><td>{{$v.ShareBonus}}</td>
                                <!--利息--><td>{{$v.InterestBonus}}</td>
                                <!--bonus来源误差额--><td>{{$v.FaultBonus}}</td>
                                <td style="background-color: #b7b7b7;"></td>
                                <!--试玩金转化的bonus占比--><td>{{$v.TryBonusRate}}</td>
                                <!--VIP升级奖金的bonus占比--><td>{{$v.VipUpgradeBonusRate}}</td>
                                <!--VIP周奖金的bonus占比--><td>{{$v.VipWeekBonusRate}}</td>
                                <!--充值时赠送的的bonus占比--><td>{{$v.ChargeBonusRate}}</td>
                                <!--在线时长抽奖获得的bonus占比--><td>{{$v.OnlineBonusRate}}</td>
                                <!--完成任务获得的bonus占比--><td>{{$v.TaskBonusRate}}</td>
                                <!--分享下家的打码返bonus占比--><td>{{$v.ShareBetsBonusRate}}</td>
                                <!--分享下家首充返bonus占比--><td>{{$v.ShareBonusRate}}</td>
                            </tr>
                            {{end}}
                            {{if eq .count 0}}
                            <tr>
                                <td colspan="20">暂无记录...</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row-page"> 
                        {{if gt .count 20}}
                            {{str2html .pageBar}}
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#selectPackage").on("change", function () {
            var selectVal = $("#selectPackage").val()
            console.log(selectVal)
            $("#package_id").val(selectVal)
        });
        // 渠道别名
        $("#selectAlias").on("change", function () {
            var selectVal = $("#selectAlias").val()
            console.log("selectAlias：" + selectVal)
            $("#alias_id").val(selectVal)
        });
        
        // 渠道类
        $("#selectClass").on("change", function () {
            var selectVal = $("#selectClass").val()
            console.log("selectClass" + selectVal)
            $("#class_id").val(selectVal)
        });

        // 用户类型
        $("#sutype_id").on("change", function () {
            var selectVal = $("#sutype_id").val()
            console.log("sutype_id：" + selectVal)
            $("#utype_id").val(selectVal)
        });
        // 账号类型
        $("#selectTabId").on("change", function () {
            var selectVal = $("#selectTabId").val()
            $("#tab_id").val(selectVal)
        });

        // 用户类型
        var tabIdVal = $("#tab_id").val()
        if (tabIdVal != "") {
            $('#selectTabId').selectpicker({ width: 200 });
            $("#selectTabId").val(tabIdVal);
            var str = tabIdVal == '0' ? '全部' :
            tabIdVal == '1' ? 'A类' :
            tabIdVal == '2' ? 'B类' :
            tabIdVal == '3' ? 'C类' : '其他';
            $('#tabId_div .filter-option-inner-inner').html(str);
        } else {
            $('#selectTabId').selectpicker({ width: 200 });
        }

        var packVal = $("#package_id").val()
        if (packVal) {
            var arr = packVal.split(",");
            $('#selectPackage').selectpicker({ width: 200 });
            if (arr != null) {
                $("#selectPackage").val(arr)
                $.each(arr, function (index, value) {
                    if (value == "0") {
                        arr[index] = "全部";
                    }
                    if (value == "-") {
                        arr[index] = "其他";
                    }
                });
                var str = arr.join(",");
                $('#package_div .filter-option-inner-inner').html(str)
            }
        } else {
            $('#selectPackage').selectpicker({ width: 200 });
        }

        // 渠道别名
        var aliasVal = $("#alias_id").val()
        if (aliasVal) {
            var arr1 = aliasVal.split(",");
            $('#selectAlias').selectpicker({ width: 200 });
            if (arr1 != null) {
                console.log("arr1:" + arr1)
                $("#selectAlias").val(arr1)
                $.each(arr1, function (index, value) {
                    if (value == "0") {
                        arr1[index] = "全部";
                    }
                    if (value == "-") {
                        arr1[index] = "其他";
                    }
                });
                var str = arr1.join(",");
                $('#alias_div .filter-option-inner-inner').html(str)
            }
        } else {
            $('#selectAlias').selectpicker({ width: 200 });
        }
        // 渠道类
        var classVal = $("#class_id").val()
        if (classVal) {
            var arr1 = classVal.split(",");
            $('#selectClass').selectpicker({ width: 200 });
            if (arr1 != null) {
                console.log("arr2:" + arr1)
                $("#selectClass").val(arr1)
                $.each(arr1, function (index, value) {
                    if (value == "0") {
                        arr1[index] = "全部";
                    }
                    if (value == "-") {
                        arr1[index] = "其他";
                    }
                });
                var str = arr1.join(",");
                $('#class_div .filter-option-inner-inner').html(str)
            }
        } else {
            $('#selectClass').selectpicker({ width: 200 });
        }

        // 用户类型
        var utype_id = $("#utype_id").val()
        if (utype_id == "") {
            utype_id = "0";
        }
        $('#sutype_id').selectpicker({ width: 120 });
        console.log('utype_id', utype_id)
        var utypeids = utype_id.split(",");
        var utypes = {0: "全部",1: "新手",3: "平民",4: "泡沫",5: "零充",6: "普充",7: "小R",8: "中R",9: "大R",10: "超大R",11: "手动",};
        var utypeNames = [];
        for (let i = 0; i < utypeids.length; i++) {
            var utypeid = utypeids[i];
            $(`#sutype_id option[value=${utypeid}]`).attr("selected", true);

            var name = utypes[utypeid];
            utypeNames.push(name);
        }
        var str = utypeNames.join(", ");
        $('#utype_id_div .filter-option-inner-inner').html(str)
    });

</script>
<style>
    .profit{
        color: 	#EEAD0E;
    }
</style>

<script>
	$(document).ready(function() { _StickyMemory({{$.typeId}}) });
</script>
