<div class="row">
	<div class="col-xs-12">
	</div>
</div>

<div class="space-4"></div>

<div class="row">
	<div class="col-xs-12">
		<form class="form-inline" method="post" action="{{urlfor "LoggerController.LoginList"}}">
			<input type="hidden" name="status" value="{{.status}}" />
			<div class="input-group table_filtrate">
				账号查询:
				<div class="input-group input-group-sm">
					<input type="text" id="userid" name="userid" value="{{.userid}}" class="form-control"
						placeholder="玩家ID" autocomplete="off"/>
					<span class="input-group-addon">
						<i class="ace-icon fa fa-users"></i>
					</span>
				</div>
			</div>
			<div class="input-group table_filtrate">
				<div class="input-group input-group-sm">
					<select name="type_id" id="type_id">
						{{range $k,$v := .typeList}}
						<option value="{{$k}}" {{if eq $.typeId $k}}selected{{end}}>{{$v}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="input-group table_filtrate">
				渠道:
				<div class="input-group" id="package_div">
					<select id="selectPackage" class="selectpicker" multiple data-live-search="true" data-width="200px" style="width: 200px !important;" title="请选择渠道">
						{{range $k,$v := .packageList}}
						<option value="{{$v.Key}}" {{if eq $.packageId $v.Key}}selected{{end}}>{{$v.Name}}</option>
						{{end}}
					</select>
					<input type="hidden" id="package_id" name="package_id" value="{{.packageId}}" class="form-control" autocomplete="off" />
				</div>
			</div>
			<div class="input-group table_filtrate">
				登录时间:
				<div class="input-group input-group-sm">
					<input type="text" id="start_date" name="start_date" value="{{.startDate}}" class="form-control" autocomplete="off" />
					<span class="input-group-addon">
						<i class="ace-icon fa fa-calendar"></i>
					</span>
				</div>
				至
				<div class="input-group input-group-sm">
					<input type="text" id="end_date" name="end_date" value="{{.endDate}}" class="form-control" autocomplete="off"/>
					<span class="input-group-addon">
						<i class="ace-icon fa fa-calendar"></i>
					</span>
				</div>
			</div>
			
			<div class="input-group input-group-sm">
				<button type="submit" class="btn">查询</button>
			</div>
	</div>
</div>
</form>
<div class="space-4"></div>

<div class="table-panel" table-wrap="300">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>用户ID</th>
				<th>昵称</th>
				<th>渠道</th>
				<th>登录时间</th>
				<th>登出时间</th>
				<th>登录方式</th>
				<th>IP</th>
				<th>邦/区域</th>
				<th>设备号</th>
				<th>客户端</th>
			</tr>
		</thead>
		<tbody>
			{{range $k, $v := .list}}
			<tr>
				<td>
					<a href="{{urlfor "Statistics2Controller.PlayerData" "userid"  $v.Userid}}" target="_blank">{{$v.Userid}}</a>
				</td>
				<td>{{$v.UserInfo.Nickname}}</td>
				<td>{{$v.UserInfo.AD_BundleId}}</td>
				<td>{{date $v.LoginTime "Y-m-d H:i:s"}}</td>
				<td>
					{{ if $v.LogoutTime.IsZero }}
					- <!-- 默认值为空时展示默认格式的时间 -->
					{{ else }}
					{{date $v.LogoutTime "Y-m-d H:i:s"}} <!-- 不为空时展示时间字段的值 -->
					{{ end }}
				</td>
				<!-- <td>{{$v.Userid}}</td> -->
				<td>
					{{if eq $v.UserInfo.Tourist ""}}
					<span class="text-success bigger-110 green">手机登录</span>
					{{else}}
					<span class="text-success bigger-110 orange">游客登录</span>
					{{end}}
				</td>
				<td>{{$v.Ip}}</td>
				<td>--</td>
				<td class="ellipsis" >
					<div title="{{$v.UserInfo.AD_ADID}}" ondblclick="copyText(this)">
						<span>{{$v.UserInfo.AD_ADID | StringCutOff }}</span>
					</div>
				</td>
				<td>--</td>
			</tr>
			{{end}}
			{{if eq .count 0}}
			<tr>
				<td colspan="20">暂无记录...</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="row-page"> 
		{{if gt .count 20}}
		{{str2html .pageBar}}
	{{end}}
	</div>
</div>
</div>
</div>
<script>
	function copyText(event){
		var clickedElement = event;
		var text = clickedElement.getAttribute('title');

		var textField = document.createElement('textarea');
      textField.value = text;
      document.body.appendChild(textField);
      textField.select();
      document.execCommand('copy');
      document.body.removeChild(textField);
      alert("设备号已成功复制！");
	}
	$(function () {
        $("#selectPackage").on("change",function () {
        	var selectVal = $("#selectPackage").val()
        	console.log(selectVal);
        	$("#package_id").val(selectVal);
    	});

        var packVal =  $("#package_id").val()
        if (packVal != ""){
            
            var arr = packVal.split(",");
            $('#selectPackage').selectpicker({ width: 200 });
            if (arr != null){
                $("#selectPackage").val(arr)
                $.each(arr, function(index, value) {
                    if (value == "0"){
                        arr[index] = "全部"; 
                    }
                    if (value == "-"){
                        arr[index] = "其他"; 
                    }
                });
                var str = arr.join(",");
				console.log("str:"+str)
                $('#package_div .filter-option-inner-inner').html(str)
            }
        }else{
            $('#selectPackage').selectpicker({ width: 200 });
        }
    });
</script>

<script>
	$(document).ready(function() { _StickyMemory() });
</script>
