<div class="row">
	<div class="col-xs-12">
		<form class="form-inline" method="post" action="{{urlfor "ActivityController.Lottery"}}">
            <div class="input-group table_filtrate">
				时间:
				<div class="input-group input-group-sm">
					<input type="text" id="start_date" name="start_date" value="{{.startDate}}" class="form-control" autocomplete="off"/>
					<span class="input-group-addon">
						<i class="ace-icon fa fa-calendar"></i>
					</span>
				</div>
				至
				<div class="input-group input-group-sm">
					<input type="text" id="end_date" name="end_date" value="{{.endDate}}" class="form-control" autocomplete="off"/>
					<span class="input-group-addon">
						<i class="ace-icon fa fa-calendar"></i>
					</span>
				</div>
			</div>
			<div class="input-group input-group-sm">
				<button type="submit" class="btn">查询</button>
			</div>
</form>
<div class="space-4"></div>

<div class="table-panel" table-wrap="300">
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th stickyL>时间</th>
			<th>进入页面人数</th>
            <th>刮奖人数</th>
			<th>获奖人数</th>
            <th>一等奖</th>
            <th>二等奖</th>
            <th>三等奖</th>
            <th>四等奖</th>
            <th>五等奖</th>
            <th>BONUS消耗</th>
		</tr>
		</thead>
	<tbody>
		{{range $k, $v := .list}}
			<tr>
                <td>{{date $v.SDate "Y-m-d"}}</td>
                <td>{{ $v.ClickNumber }}</td>
                <td>{{ $v.GJNumber }}</td>
                <td>{{ $v.HJNumber }}</td>
                <td>{{ printf "%.2f" $v.FFirstPrize}}</td>
                <td>{{ printf "%.2f" $v.FSecondPrize}}</td>
                <td>{{ printf "%.2f" $v.FThirdPrize}}</td>
                <td>{{ printf "%.2f" $v.FFourthPrize}}</td>
                <td>{{ printf "%.2f" $v.FFifthPrize}}</td>
                <td>{{ printf "%.2f" $v.FExpendBouns}}</td>
			</tr>
		{{end}}
        {{if eq .count 0}}
            <tr>
                <td colspan="20">暂无记录...</td>
            </tr>
        {{end}}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="row-page"> 
		{{if gt .count 20}}
		{{str2html .pageBar}}
	{{end}}
	</div>
</div>
</div>
</div>

<script>
	$(document).ready(function() { _StickyMemory() });
</script>
