<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" method="post" action="{{urlfor "Statistics2Controller.SubprojectIncome"}}">
            <input type="hidden" name="status" value="{{.status}}" />
            {{if $.isOperation }}
            <div class="input-group input-group-sm">
                <a class="btn" href="{{urlfor "Statistics2Controller.RefreshIncome"}}">刷新</a>
            </div>
            <div class="input-group input-group-sm">
                <a class="btn" href="{{urlfor "Statistics2Controller.ResetIncome"}}">重置所有</a>
            </div>
            {{end}}
        </form>
        <div class="space-4"></div>
        <div class="table-panel" table-wrap="300">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>游戏</th>
                        <th>房间</th>
                        <th>局数</th>
                        <th>平均注</th>
                        <th>平均倍</th>
                        <th>P胜率</th>
                        <th>系统赢（注-奖）</th>
                        <th>总税收</th>
                        <th>总收益（注-奖+税）</th>
                        <th>上次重置时间</th>
                        <th>刷新时间</th>
                        {{if $.isOperation }}
                        <th>操作</th>
                        {{end}}
                    </tr>
                </thead>
                <tbody>

                    {{range $k, $v := .list}}
                    <tr>
                        <td>{{$v.GameName}}</td>
                        <td>{{$v.RoomName}}</td>
                        <td>
                            {{$v.GameNumber}}
                        </td>
                        <td>
                            {{if eq $v.BetAvg 0.0}}
                            --
                            {{else}}
                            {{ printf "%.2f" $v.BetAvg}}
                            {{end}}
                        </td>
                        <td>{{ printf "%.2f" $v.FBetMultiple}}</td>
                        <td>{{ printf "%.2f" $v.WinRate}}%</td>
                        <td>{{ printf "%.2f" $v.FSystemWin}}</td>
                        <td>{{ printf "%.2f" $v.FTotalTax}}</td>
                        <td>{{ printf "%.2f" $v.FTotalRevenue}}</td>
                        <td>
                            {{ if $v.SLastReset.IsZero }}
                            -- <!-- 默认值为空时展示默认格式的时间 -->
                            {{ else }}
                            {{date $v.SLastReset "Y-m-d H:i:s"}} <!-- 不为空时展示时间字段的值 -->
                            {{ end }}
                        </td>
                        <td>{{ date $v.SRefreshTime "Y-m-d H:i:s" }}</td>
                        {{if $.isOperation }}
                        <td>
                            <a href="{{urlfor "Statistics2Controller.ResetIncome" "id" $v.GameName "rid"
                                $v.RoomName}}">重置</a>
                        </td>
                        {{end}}
                    </tr>
                    {{end}}
                    {{if eq .count 0}}
                    <tr>
                        <td colspan="20">暂无记录...</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    // 每隔2分钟刷新页面
    setInterval(function(){
        console.log("刷新页面")
        location.reload();
    }, 1200000);
</script>

<script>
	$(document).ready(function() { _StickyMemory() });
</script>
