
<div class="alert alert-warning alert-dismissible hide" role="alert"></div>

<form class="form-horizontal ajax-form" method="post" action="{{urlfor "Statistics2Controller.TpStoryStockEdit"}}">
	<input type="hidden" name="id" value="{{.id}}" />
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">TP剧情局库存修改值</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="new_stock" name="new_stock" value="" autocomplete="off" required/>
		</div>
	</div>

  <div class="form-group">
	<label for="diamond" class="col-sm-2 control-label">备注</label>
	<div class="col-sm-5">
		<textarea name="remark" id="remark" class="form-control" rows="6" required></textarea>	
	</div>
</div>
	<div class="clearfix form-actions">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
			<a href="{{urlfor "Statistics2Controller.TpStoryStock"}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
		</div>
	</div>
</form>
