<div class="row">
    <div class="col-xs-12">

        <div class="tabbable">
            <ul class="nav nav-tabs" id="list-tab">
                <li {{if eq .typeId 0}}class="active" {{end}}>
                    <a href="{{urlfor "GameStatsController.AB" "typeId" 0}}">AndarBahar汇总</a>
                </li>
                <li {{if eq .typeId 1}}class="active" {{end}}>
                    <a href="{{urlfor "GameStatsController.AB" "typeId" 1}}">AndarBahar明细</a>
                </li>
                <li {{if eq .typeId 2}}class="active" {{end}}>
                    <a href="{{urlfor "GameStatsController.AB" "typeId" 2}}">AndarBahar安能求死</a>
                </li>
                <li {{if eq .typeId 3}}class="active" {{end}}>
                    <a href="{{urlfor "GameStatsController.AB" "typeId" 3}}">AndarBahar安然躺赢</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-inline" method="post" action="{{urlfor "GameStatsController.AB"}}">
                            <input type="hidden" name="typeId" value="{{.typeId}}" />
                            <input type="hidden" name="status" value="{{.status}}" />
                            {{if ne .typeId 0}}
                            <div class="input-group table_filtrate">
                                账号查询:
                                <div class="input-group input-group-sm">
                                    <input type="text" id="userid" name="userid" value="{{.userid}}" class="form-control"
                                        placeholder="玩家ID" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-users"></i>
                                    </span>
                                </div>
                            </div>
                            {{end}}
                            <div class="input-group table_filtrate">
                                时间:
                                <div class="input-group input-group-sm">
                                    <input type="text" id="start_date" name="start_date" value="{{.startDate}}"
                                        class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                                至
                                <div class="input-group input-group-sm">
                                    <input type="text" id="end_date" name="end_date" value="{{.endDate}}"
                                        class="form-control" autocomplete="off" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                渠道:
                                <div class="input-group" id="package_div">
                                    <select id="selectPackage" class="selectpicker" multiple data-live-search="true"
                                        data-width="200px" style="width: 200px !important;" title="请选择渠道">
                                        {{range $k,$v := .packageList}}
                                        <option value="{{$v.Key}}" {{if eq $.packageId $v.Key}}selected{{end}}>
                                            {{$v.Name}}</option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="package_id" name="package_id" value="{{.packageId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                渠道别名:
                                <div class="input-group input-group-sm" id="alias_div">
                                    <select id="selectAlias" class="selectpicker" multiple data-live-search="true"
                                        data-width="100px" style="width: 100px !important;" title="请选择渠道别名">
                                        {{range $k,$v := .packageAliasList}}
                                        <option value="{{$v.Key}}" {{if eq $.aliasId $v.Key}}selected{{end}}>{{$v.Name}}
                                        </option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="alias_id" name="alias_id" value="{{.aliasId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                用户类型:
                                <div class="input-group input-group-sm" id="utype_id_div">
                                    <select id="sutype_id" class="selectpicker" multiple style="width: 80px;" data-live-search="true">
                                        {{range $k,$v := .usertype}}
                                        <option value="{{$k}}" >{{$v}}</option>
                                        {{end}}
                                    </select>
                                    <input type="hidden" id="utype_id" name="utype_id" value="{{.usertypeId}}"
                                        class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group table_filtrate">
                                账号类型:
                                <div class="input-group input-group-sm">
                                    <select name="tab_id" id="tab_id" style="width: 80px;">
                                        <option value="0" {{if eq 0 $.tabId}}selected{{end}}>全部</option>
                                        <option value="1" {{if eq 1 $.tabId}}selected{{end}}>A类</option>
                                        <option value="2" {{if eq 2 $.tabId}}selected{{end}}>B类</option>
                                        <option value="3" {{if eq 3 $.tabId}}selected{{end}}>C类</option>
                                    </select>
                                </div>
                                <!-- <div class="input-group" id="tabId_div">
                                    <select id="selectTabId" class="selectpicker" data-live-search="true"
                                        data-width="80px" style="width: 80px !important;" title="请选择账号类型">
                                        <option value="0" {{if eq 0 $.tabId}}selected{{end}}>全部</option>
                                        <option value="1" {{if eq 1 $.tabId}}selected{{end}}>A类</option>
                                        <option value="2" {{if eq 2 $.tabId}}selected{{end}}>B类</option>
                                        <option value="3" {{if eq 3 $.tabId}}selected{{end}}>C类</option>
                                    </select>
                                    <input type="hidden" id="tab_id" name="tab_id" value="{{.tabId}}"
                                        class="form-control" autocomplete="off" />
                                </div> -->
                            </div>
                            <div style="margin-top:10px">
                                <div class="input-group table_filtrate">
                                    流失天数筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="lossDays1" name="lossDays1" value="{{.lossDays1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="lossDays2" name="lossDays2" value="{{.lossDays2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group table_filtrate">
                                    打码量筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="bets1" name="bets1" value="{{.bets1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="bets2" name="bets2" value="{{.bets2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group table_filtrate">
                                    局均打码量筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="betAvg1" name="betAvg1" value="{{.betAvg1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input min="0" type="number" id="betAvg2" name="betAvg2" value="{{.betAvg2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group table_filtrate">
                                    净赢筛选:
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input type="number" id="win1" name="win1" value="{{.win1}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                    至
                                    <div class="input-group input-group-sm" style="width:80px">
                                        <input  type="number" id="win2" name="win2" value="{{.win2}}"
                                            class="form-control" placeholder="" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group input-group-sm">
                                    <button type="submit" class="btn">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="space-4"></div>

                {{if eq .typeId 0}}
                <div class="table-panel" table-wrap="300">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th stickyL>日期</th>
                                <th>日活数量</th>
                                <th>总玩AB人数</th>
                                <th>新顾客玩AB人数</th>
                                <th>老顾客玩AB人数</th>
                                <th>玩AB人数占日活比</th>
                                <th>新顾客玩AB占新顾客日活比</th>
                                <th>老顾客玩AB占老顾客日活比</th>
                                <th>总局数</th>
                                <th>人均局数</th>
                                <th>局数中位数</th>
                                <th>总打码</th>
                                <th>人均打码</th>
                                <th>局均打码量</th>
                                <th>赢局数</th>
                                <th>输局数</th>
                                <th>平局数</th>
                                <th>多门局数</th>
                                <th>多门局占比</th>
                                <th>胜率</th>
                                <th>总返奖率</th>
                                <th>赢局打码量</th>
                                <th>输局打码量</th>
                                <th>平局打码量</th>
                                <th>赢局均码量</th>
                                <th>输局均码量</th>
                                <th>平局均码量</th>
                                <th>赢局赢钱金额</th>
                                <th>输局输钱金额</th>
                                <th>净赢</th>
                                <th>胜局均盈利</th>
                                <th>败局均输额</th>
                                <th>局均净赢</th>
                                <th>下注局开a率（50%）</th>
                                <th>下注局开b率（47.37%）</th>
                                <th>1-5轮结束率（26.47%）</th>
                                <th>6-10轮结束率（20.45%）</th>
                                <th>11-15轮结束率（16.67%）</th>
                                <th>16-25轮结束率（20.46%）</th>
                                <th>26-30轮结束率（6.04%）</th>
                                <th>31-35轮结束率（3.61%）</th>
                                <th>36-40轮结束率（1.80%）</th>
                                <th>41及以上结束率（0.75%）</th>
                                <th>玩家押a率</th>
                                <th>玩家押b率</th>
                                <th>玩家押1-5轮率</th>
                                <th>玩家押6-10轮率</th>
                                <th>玩家押11-15轮率</th>
                                <th>玩家押16-25轮率</th>
                                <th>玩家押26-30轮率</th>
                                <th>玩家押31-35轮率</th>
                                <th>玩家押36-40轮率</th>
                                <th>玩家押41轮以上率</th>
                                <th>玩家a中率</th>
                                <th>玩家b中率</th>
                                <th>玩家1-5中率</th>
                                <th>玩家6-10中率</th>
                                <th>玩家11-15中率</th>
                                <th>玩家16-25中率</th>
                                <th>玩家26-30中率</th>
                                <th>玩家31-35中率</th>
                                <th>玩家36-40中率</th>
                                <th>玩家41以上中率</th>
                                <th>观察局数</th>
                                <th>局均观察次数</th>
                                <th>观察局数占比</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $k, $v := .list}}
                            <tr>
                                <!--日期--> <td>{{$v.DateStr}}</td>
                                <!--日活数量--> <td>{{$v.FLoginedUsers}}</td>
                                <!--总玩lhd人数--> <td>{{$v.Players}}</td>
                                <!--新顾客玩lhd人数--> <td>{{$v.NewPlayers}}</td>
                                <!--老顾客玩lhd人数--> <td>{{$v.OldPlayers}}</td>
                                <!--玩lhd人数占日活比--> <td>{{$v.FPlayerRate}}</td>
                                <!--新顾客玩lhd占新顾客日活比--> <td>{{$v.FNewPlayerRate}}</td>
                                <!--老顾客玩lhd占老顾客日活比--> <td>{{$v.FOldPlayerRate}}</td>
                                <!--总局数--> <td>{{$v.BetRounds}}</td>
                                <!--人均局数--> <td>{{$v.FPlayerRoundsAvg}}</td>
                                <!--局数中位数--> <td>{{$v.FPlayerRoundsMedian}}</td>
                                <!--总打码--> <td>{{$v.FBets}}</td>
                                <!--人均打码--> <td>{{$v.FPlayerBetsAvg}}</td>
                                <!--局均打码量--> <td>{{$v.FRoundBetsAvg}}</td>
                                <!--胜利局数--> <td>{{$v.WinRounds}}</td>
                                <!--失败局数--> <td>{{$v.LoseRounds}}</td>
                                <!--平局数--> <td>{{$v.TieRounds}}</td>
                                <!--多门局数--> <td>{{$v.PlayerMultis}}</td>
                                <!--多门局占比--> <td>{{$v.PlayerMultisRate}}</td>
                                <!--胜率--> <td>{{$v.FWinRate}}</td>
                                <!--返奖率--> <td>{{$v.FRebateRate}}</td>
                                <!--胜局打码量--> <td>{{$v.FWinBets}}</td>
                                <!--败局打码量--> <td>{{$v.FLoseBets}}</td>
                                <!--平局打码量--> <td>{{$v.FTieBets}}</td>
                                <!--胜局均码量--> <td>{{$v.FWinBetsAvg}}</td>
                                <!--败局均码量--> <td>{{$v.FLoseBetsAvg}}</td>
                                <!--平局均码量--> <td>{{$v.FTieBetsAvg}}</td>
                                <!--胜局赢钱金额--> <td>{{$v.FWins}}</td>
                                <!--败局输钱金额--> <td>{{$v.FLoses}}</td>
                                <!--净赢--> <td>{{$v.FCash}}</td>
                                <!--胜局均盈利--> <td>{{$v.FWinsAvg}}</td>
                                <!--败局均输额--> <td>{{$v.FLosesAvg}}</td>
                                <!--局均净赢--> <td>{{$v.FCashAvg}}</td>
                                <!--下注局开a率--> <td>{{$v.SideWinnerRate1}}</td>
                                <!--下注局开b率--> <td>{{$v.SideWinnerRate2}}</td>
                                <!--1-5轮结束率--> <td>{{$v.SideWinnerRate3}}</td>
                                <!--6-10轮结束率--> <td>{{$v.SideWinnerRate4}}</td>
                                <!--11-15轮结束率--> <td>{{$v.SideWinnerRate5}}</td>
                                <!--16-25轮结束率--> <td>{{$v.SideWinnerRate6}}</td>
                                <!--26-30轮结束率--> <td>{{$v.SideWinnerRate7}}</td>
                                <!--31-35轮结束率--> <td>{{$v.SideWinnerRate8}}</td>
                                <!--36-40轮结束率--> <td>{{$v.SideWinnerRate9}}</td>
                                <!--41及以上结束率--> <td>{{$v.SideWinnerRate10}}</td>
                                <!--玩家押a率--> <td>{{$v.SeatBetsRate1}}</td>
                                <!--玩家押b率--> <td>{{$v.SeatBetsRate2}}</td>
                                <!--玩家押1-5轮率--> <td>{{$v.SeatBetsRate3}}</td>
                                <!--玩家押6-10轮率--> <td>{{$v.SeatBetsRate4}}</td>
                                <!--玩家押11-15轮率--> <td>{{$v.SeatBetsRate5}}</td>
                                <!--玩家押16-25轮率--> <td>{{$v.SeatBetsRate6}}</td>
                                <!--玩家押26-30轮率--> <td>{{$v.SeatBetsRate7}}</td>
                                <!--玩家押31-35轮率--> <td>{{$v.SeatBetsRate8}}</td>
                                <!--玩家押36-40轮率--> <td>{{$v.SeatBetsRate9}}</td>
                                <!--玩家押41轮以上率--> <td>{{$v.SeatBetsRate10}}</td>
                                <!--玩家a中率--> <td>{{$v.PlayerWinSeatRate1}}</td>
                                <!--玩家b中率--> <td>{{$v.PlayerWinSeatRate2}}</td>
                                <!--玩家1-5中率--> <td>{{$v.PlayerWinSeatRate3}}</td>
                                <!--玩家6-10中率--> <td>{{$v.PlayerWinSeatRate4}}</td>
                                <!--玩家11-15中率--> <td>{{$v.PlayerWinSeatRate5}}</td>
                                <!--玩家16-25中率--> <td>{{$v.PlayerWinSeatRate6}}</td>
                                <!--玩家26-30中率--> <td>{{$v.PlayerWinSeatRate7}}</td>
                                <!--玩家31-35中率--> <td>{{$v.PlayerWinSeatRate8}}</td>
                                <!--玩家36-40中率--> <td>{{$v.PlayerWinSeatRate9}}</td>
                                <!--玩家41以上中率--> <td>{{$v.PlayerWinSeatRate10}}</td>
                                <!--观察局数--> <td>{{$v.ObserveRounds}}</td>
                                <!--局均观察次数--> <td>{{$v.ObserveRoundsAvg}}</td>
                                <!--观察局数占比--> <td>{{$v.ObserveRoundsRate}}</td>
                            </tr>
                            {{end}}
                            {{if eq .count 0}}
                            <tr>
                                <td colspan="20">暂无记录...</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                {{else if eq .typeId 2}}
                    <!-- AB安能求死 -->
                    <div class="table-panel" table-wrap="300">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th stickyL>玩家id</th>
                                    <th>玩家昵称</th>
                                    <th>玩家类型</th>
                                    <th>账号类型</th>
                                    <th>注册时间</th>
                                    <th>最后登陆时间</th>
                                    <th>存活天数</th>
                                    <th>流失天数</th>
                                    <th>触发策略人数</th>
                                    <th>触发策略总局数</th>
                                    <th>人均触发局数</th>
                                    <th>allin局数</th>
                                    <th>触发率</th>
                                    <th>失效率</th>
                                    <th>策略中多门局数</th>
                                    <th>多门局占比</th>
                                    <th>策略中总打码量</th>
                                    <th>策略中局均打码量</th>
                                    <th>策略中总赢</th>
                                    <th>策略中总输</th>
                                    <th>策略中净赢</th>
                                    <th>ab总胜率</th>
                                    <th>策略局中胜率</th>
                                    <th>策略局中返奖率</th>
                                    <th>ab总返奖率</th>
                                    <th>玩家大盘返奖率</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $k, $v := .list}}
                                <tr>
                                    <!--序号--> <td>{{$v.No}}</td>
                                    <!--玩家id--> <td>{{$v.Id}}</td>
                                    <!--玩家昵称--> <td>{{$v.FNickname}}</td>
                                    <!--玩家类型--> <td>{{$v.FUserType}}</td>
                                    <!--账号类型--> <td>{{$v.FRegistArea}}</td>
                                    <!--注册时间--> <td>{{$v.FCtime}}</td>
                                    <!--最后登陆时间--> <td>{{$v.FLoginTime}}</td>
                                    {{if eq $k 0}}
                                    <!--存活天数--> <td>--</td>
                                    <!--流失天数--> <td>--</td>
                                    {{else}}
                                    <!--存活天数--> <td>{{$v.FLiveDays}}</td>
                                    <!--流失天数--> <td>{{$v.FLoseDays}}</td>
                                    {{end}}
                                    <!--触发策略人数--> <td>{{$v.StrategyPlayers}}</td>
                                    <!--触发策略总局数--> <td>{{$v.StrategyRounds}}</td>
                                    <!--人均触发局数--> <td>{{$v.TriggerRoundsAvg}}</td>
                                    <!--allin局数--> <td>{{$v.AllInRounds}}</td>
                                    <!--触发率--> <td>{{$v.TiggerRate}}</td>
                                    <!--失效率--> <td>{{$v.ExpiredRate}}</td>
                                    <!--策略中多门局数--> <td>{{$v.StrategyMultiRounds}}</td>
                                    <!--多门局占比--> <td>{{$v.PlayerMultisRate}}</td>
                                    <!--策略中总打码量--> <td>{{$v.FStrategyBets}}</td>
                                    <!--策略中局均打码量--> <td>{{$v.FStrategyBetRoundsAvg}}</td>
                                    <!--策略中总赢--> <td>{{$v.FStrategyWins}}</td>
                                    <!--策略中总输--> <td>{{$v.FStrategyLoses}}</td>
                                    <!--策略中净赢--> <td>{{$v.FStrategyCash}}</td>
                                    <!--ab总胜率--> <td>{{$v.TotalWinRate}}</td>
                                    <!--策略局中胜率--> <td>{{$v.StrategyWinRate}}</td>
                                    <!--策略局中返奖率--> <td>{{$v.StrategyRewardRate}}</td>
                                    <!--ab总返奖率--> <td>{{$v.TotalRewardRate}}</td>
                                    <!--玩家大盘返奖率--> <td>{{$v.PlayerRewardRate}}</td>
                                </tr>
                                {{end}}
                                {{if eq .count 0}}
                                <tr>
                                    <td colspan="20">暂无记录...</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="row-page"> 
                            {{if gt .count 20}}
                                {{str2html .pageBar}}
                            {{end}}
                        </div>
                    </div>
                    {{else if eq .typeId 3}}
                    <!-- AB安然躺赢 -->
                    <div class="table-panel" table-wrap="300">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th stickyL>玩家id</th>
                                    <th>玩家昵称</th>
                                    <th>玩家类型</th>
                                    <th>账号类型</th>
                                    <th>注册时间</th>
                                    <th>最后登陆时间</th>
                                    <th>存活天数</th>
                                    <th>流失天数</th>
                                    <th>触发策略人数</th>
                                    <th>触发策略总次数</th>
                                    <th>触发策略有效次数</th>
                                    <th>策略有效次数占总触发次数比</th>
                                    <th>人均有效次数</th>
                                    <th>触发策略局数</th>
                                    <th>每次触发平均所用局数</th>
                                    <th>每次有效触发平均所用局数</th>
                                    <th>策略中多门局数</th>
                                    <th>多门局占比</th>
                                    <th>策略中总打码量</th>
                                    <th>策略中局均打码量</th>
                                    <th>策略中总赢</th>
                                    <th>策略中总输</th>
                                    <th>策略中净赢</th>
                                    <th>策略局胜率</th>
                                    <th>策略局返奖率</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $k, $v := .list}}
                                <tr>
                                    <!--序号--> <td>{{$v.No}}</td>
                                    <!--玩家id--> <td>{{$v.Id}}</td>
                                    <!--玩家昵称--> <td>{{$v.FNickname}}</td>
                                    <!--玩家类型--> <td>{{$v.FUserType}}</td>
                                    <!--账号类型--> <td>{{$v.FRegistArea}}</td>
                                    <!--注册时间--> <td>{{$v.FCtime}}</td>
                                    <!--最后登陆时间--> <td>{{$v.FLoginTime}}</td>
                                    {{if eq $k 0}}
                                    <!--存活天数--> <td>--</td>
                                    <!--流失天数--> <td>--</td>
                                    {{else}}
                                    <!--存活天数--> <td>{{$v.FLiveDays}}</td>
                                    <!--流失天数--> <td>{{$v.FLoseDays}}</td>
                                    {{end}}
                                    <!--触发策略人数--> <td>{{$v.StrategyPlayers}}</td>
                                    <!--触发策略总次数--> <td>{{$v.StrategyTimes}}</td>
                                    <!--触发策略有效次数--> <td>{{$v.TiggerTimes}}</td>
                                    <!--策略有效次数占总触发次数比--> <td>{{$v.TriggerRate}}</td>
                                    <!--人均有效次数--> <td>{{$v.PerCapitaAvg}}</td>
                                    <!--触发策略局数--> <td>{{$v.StrategyRounds}}</td>
                                    <!--每次触发平均所用局数--> <td>{{$v.TiggerStrategyAvg}}</td>
                                    <!--每次有效触发平均所用局数--> <td>{{$v.YxTiggerStrategyAvg}}</td>
                                    <!--策略中多门局数--> <td>{{$v.StrategyMultiRounds}}</td>
                                    <!--多门局占比--> <td>{{$v.PlayerMultisRate}}</td>
                                    <!--策略中总打码量--> <td>{{$v.FStrategyBets}}</td>
                                    <!--策略中局均打码量--> <td>{{$v.FStrategyBetRoundsAvg}}</td>
                                    <!--策略中总赢--> <td>{{$v.FStrategyWins}}</td>
                                    <!--策略中总输--> <td>{{$v.FStrategyLoses}}</td>
                                    <!--策略中净赢--> <td>{{$v.FStrategyCash}}</td>
                                    <!--策略局胜率--> <td>{{$v.FStrategyWinRate}}</td>
                                    <!--策略局返奖率--> <td>{{$v.FStrategyRebateRate}}</td>
                                </tr>
                                {{end}}
                                {{if eq .count 0}}
                                <tr>
                                    <td colspan="20">暂无记录...</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="row-page"> 
                            {{if gt .count 20}}
                                {{str2html .pageBar}}
                            {{end}}
                        </div>
                    </div>
                {{else}}
                <div class="table-panel" table-wrap="300">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th stickyL>玩家id</th>
                                <th>玩家昵称</th>
                                <th>玩家类型</th>
                                <th>账号类型</th>
                                <th>注册时间</th>
                                <th>最后登录时间</th>
                                <th>存活天数</th>
                                <th>流失天数</th>
                                <th>总局数</th>
                                <th>总打码</th>
                                <th>局均打码量</th>
                                <th>赢局数</th>
                                <th>输局数</th>
                                <th>平局数</th>
                                <th>胜率</th>
                                <th>返奖率</th>
                                <th>赢局打码量</th>
                                <th>输局打码量</th>
                                <th>平局打码量</th>
                                <th>赢局均码量</th>
                                <th>输局均码量</th>
                                <th>平局均码量</th>
                                <th>胜局赢钱金额</th>
                                <th>败局输钱金额</th>
                                <th>净赢</th>
                                <th>胜局均盈利</th>
                                <th>败局均输额</th>
                                <th>局均净赢</th>
                                <th>下注局开a率（50%）</th>
                                <th>下注局开b率（47.37%）</th>
                                <th>1-5轮结束率（26.47%）</th>
                                <th>6-10轮结束率（20.45%）</th>
                                <th>11-15轮结束率（16.67%）</th>
                                <th>16-25轮结束率（20.46%）</th>
                                <th>26-30轮结束率（6.04%）</th>
                                <th>31-35轮结束率（3.61%）</th>
                                <th>36-40轮结束率（1.80%）</th>
                                <th>41及以上结束率（0.75%）</th>
                                <th>玩家押a率</th>
                                <th>玩家押b率</th>
                                <th>玩家押1-5轮率</th>
                                <th>玩家押6-10轮率</th>
                                <th>玩家押11-15轮率</th>
                                <th>玩家押16-25轮率</th>
                                <th>玩家押26-30轮率</th>
                                <th>玩家押31-35轮率</th>
                                <th>玩家押36-40轮率</th>
                                <th>玩家押41轮以上率</th>
                                <th>玩家a中率</th>
                                <th>玩家b中率</th>
                                <th>玩家1-5中率</th>
                                <th>玩家6-10中率</th>
                                <th>玩家11-15中率</th>
                                <th>玩家16-25中率</th>
                                <th>玩家26-30中率</th>
                                <th>玩家31-35中率</th>
                                <th>玩家36-40中率</th>
                                <th>玩家41以上中率</th>
                                <th>多门局数</th>
                                <th>多门率</th>
                                <th>观察局数</th>
                                <th>局均观察次数</th>
                                <th>观察局数占比</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $k, $v := .list}}
                            <tr>
                                <!--序号--> <td>{{$v.No}}</td>
                                <!--玩家id--> <td>{{$v.Id}}</td>
                                <!--玩家昵称--> <td>{{$v.FNickname}}</td>
                                <!--玩家类型--> <td>{{$v.FUserType}}</td>
                                <!--账号类型--> <td>{{$v.FRegistArea}}</td>
                                <!--注册时间--> <td>{{$v.FCtime}}</td>
                                <!--最后登陆时间--> <td>{{$v.FLoginTime}}</td>
                                {{if eq $k 0}}
                                <!--存活天数--> <td>--</td>
                                <!--流失天数--> <td>--</td>
                                {{else}}
                                <!--存活天数--> <td>{{$v.FLiveDays}}</td>
                                <!--流失天数--> <td>{{$v.FLoseDays}}</td>
                                {{end}}
                                <!--总局数--> <td>{{$v.BetRounds}}</td>
                                <!--总打码--> <td>{{$v.FBets}}</td>
                                <!--局均打码量--> <td>{{$v.FRoundBetsAvg}}</td>
                                <!--赢局数--> <td>{{$v.WinRounds}}</td>
                                <!--输局数--> <td>{{$v.LoseRounds}}</td>
                                <!--平局数--> <td>{{$v.TieRounds}}</td>
                                <!--胜率--> <td>{{$v.FWinRate}}</td>
                                <!--返奖率--> <td>{{$v.FRebateRate}}</td>
                                <!--赢局打码量--> <td>{{$v.FWinBets}}</td>
                                <!--输局打码量--> <td>{{$v.FLoseBets}}</td>
                                <!--平局打码量--> <td>{{$v.FTieBets}}</td>
                                <!--赢局均码量--> <td>{{$v.FWinBetsAvg}}</td>
                                <!--输局均码量--> <td>{{$v.FLoseBetsAvg}}</td>
                                <!--平局均码量--> <td>{{$v.FTieBetsAvg}}</td>
                                <!--胜局赢钱金额--> <td>{{$v.FWins}}</td>
                                <!--败局输钱金额--> <td>{{$v.FLoses}}</td>
                                <!--净赢--> <td>{{$v.FCash}}</td>
                                <!--胜局均盈利--> <td>{{$v.FWinsAvg}}</td>
                                <!--败局均输额--> <td>{{$v.FLosesAvg}}</td>
                                <!--局均净赢--> <td>{{$v.FCashAvg}}</td>
                                <!--下注局开a率--> <td>{{$v.SideWinnerRate1}}</td>
                                <!--下注局开b率--> <td>{{$v.SideWinnerRate2}}</td>
                                <!--1-5轮结束率--> <td>{{$v.SideWinnerRate3}}</td>
                                <!--6-10轮结束率--> <td>{{$v.SideWinnerRate4}}</td>
                                <!--11-15轮结束率--> <td>{{$v.SideWinnerRate5}}</td>
                                <!--16-25轮结束率--> <td>{{$v.SideWinnerRate6}}</td>
                                <!--26-30轮结束率--> <td>{{$v.SideWinnerRate7}}</td>
                                <!--31-35轮结束率--> <td>{{$v.SideWinnerRate8}}</td>
                                <!--36-40轮结束率--> <td>{{$v.SideWinnerRate9}}</td>
                                <!--41及以上结束率--> <td>{{$v.SideWinnerRate10}}</td>
                                <!--玩家押a率--> <td>{{$v.SeatBetsRate1}}</td>
                                <!--玩家押b率--> <td>{{$v.SeatBetsRate2}}</td>
                                <!--玩家押1-5轮率--> <td>{{$v.SeatBetsRate3}}</td>
                                <!--玩家押6-10轮率--> <td>{{$v.SeatBetsRate4}}</td>
                                <!--玩家押11-15轮率--> <td>{{$v.SeatBetsRate5}}</td>
                                <!--玩家押16-25轮率--> <td>{{$v.SeatBetsRate6}}</td>
                                <!--玩家押26-30轮率--> <td>{{$v.SeatBetsRate7}}</td>
                                <!--玩家押31-35轮率--> <td>{{$v.SeatBetsRate8}}</td>
                                <!--玩家押36-40轮率--> <td>{{$v.SeatBetsRate9}}</td>
                                <!--玩家押41轮以上率--> <td>{{$v.SeatBetsRate10}}</td>
                                <!--玩家a中率--> <td>{{$v.PlayerWinSeatRate1}}</td>
                                <!--玩家b中率--> <td>{{$v.PlayerWinSeatRate2}}</td>
                                <!--玩家1-5中率--> <td>{{$v.PlayerWinSeatRate3}}</td>
                                <!--玩家6-10中率--> <td>{{$v.PlayerWinSeatRate4}}</td>
                                <!--玩家11-15中率--> <td>{{$v.PlayerWinSeatRate5}}</td>
                                <!--玩家16-25中率--> <td>{{$v.PlayerWinSeatRate6}}</td>
                                <!--玩家26-30中率--> <td>{{$v.PlayerWinSeatRate7}}</td>
                                <!--玩家31-35中率--> <td>{{$v.PlayerWinSeatRate8}}</td>
                                <!--玩家36-40中率--> <td>{{$v.PlayerWinSeatRate9}}</td>
                                <!--玩家41以上中率--> <td>{{$v.PlayerWinSeatRate10}}</td>
                                <!--多门局数--> <td>{{$v.PlayerMultis}}</td>
                                <!--多门率--> <td>{{$v.PlayerMultisRate}}</td>
                                <!--观察局数--> <td>{{$v.ObserveRounds}}</td>
                                <!--局均观察次数--> <td>{{$v.ObserveRoundsAvg}}</td>
                                <!--观察局数占比--> <td>{{$v.ObserveRoundsRate}}</td>

                            </tr>
                            {{end}}
                            {{if eq .count 0}}
                            <tr>
                                <td colspan="20">暂无记录...</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row-page"> 
                        {{if gt .count 20}}
                            {{str2html .pageBar}}
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#selectPackage").on("change", function () {
            var selectVal = $("#selectPackage").val()
            console.log(selectVal)
            $("#package_id").val(selectVal)
        });
        // 渠道别名
        $("#selectAlias").on("change", function () {
            var selectVal = $("#selectAlias").val()
            console.log("selectAlias：" + selectVal)
            $("#alias_id").val(selectVal)
        });
        // 用户类型
        $("#sutype_id").on("change", function () {
            var selectVal = $("#sutype_id").val()
            console.log("sutype_id：" + selectVal)
            $("#utype_id").val(selectVal)
        });
        // 账号类型
        $("#selectTabId").on("change", function () {
            var selectVal = $("#selectTabId").val()
            $("#tab_id").val(selectVal)
        });

        // 用户类型
        var tabIdVal = $("#tab_id").val()
        if (tabIdVal != "") {
            $('#selectTabId').selectpicker({ width: 200 });
            $("#selectTabId").val(tabIdVal);
            var str = tabIdVal == '0' ? '全部' :
            tabIdVal == '1' ? 'A类' :
            tabIdVal == '2' ? 'B类' :
            tabIdVal == '3' ? 'C类' : '其他';
            $('#tabId_div .filter-option-inner-inner').html(str);
        } else {
            $('#selectTabId').selectpicker({ width: 200 });
        }

        var packVal = $("#package_id").val()
        if (packVal) {
            var arr = packVal.split(",");
            $('#selectPackage').selectpicker({ width: 200 });
            if (arr != null) {
                $("#selectPackage").val(arr)
                $.each(arr, function (index, value) {
                    if (value == "0") {
                        arr[index] = "全部";
                    }
                    if (value == "-") {
                        arr[index] = "其他";
                    }
                });
                var str = arr.join(",");
                $('#package_div .filter-option-inner-inner').html(str)
            }
        } else {
            $('#selectPackage').selectpicker({ width: 200 });
        }

        // 渠道别名
        var aliasVal = $("#alias_id").val()
        if (aliasVal) {
            var arr1 = aliasVal.split(",");
            $('#selectAlias').selectpicker({ width: 200 });
            if (arr1 != null) {
                console.log("arr1:" + arr1)
                $("#selectAlias").val(arr1)
                $.each(arr1, function (index, value) {
                    if (value == "0") {
                        arr1[index] = "全部";
                    }
                    if (value == "-") {
                        arr1[index] = "其他";
                    }
                });
                var str = arr1.join(",");
                $('#alias_div .filter-option-inner-inner').html(str)
            }
        } else {
            $('#selectAlias').selectpicker({ width: 200 });
        }

        // 用户类型
        var utype_id = $("#utype_id").val()
        if (utype_id == "") {
            utype_id = "0";
        }
        $('#sutype_id').selectpicker({ width: 120 });
        var utypeids = utype_id.split(",");
        var utypes = {0: "全部",1: "新手",3: "平民",4: "泡沫",5: "零充",6: "普充",7: "小R",8: "中R",9: "大R",10: "超大R",11: "手动",};
        var utypeNames = [];
        for (let i = 0; i < utypeids.length; i++) {
            var utypeid = utypeids[i];
            $(`#sutype_id option[value=${utypeid}]`).attr("selected", true);

            var name = utypes[utypeid];
            utypeNames.push(name);
        }
        var str = utypeNames.join(", ");
        $('#utype_id_div .filter-option-inner-inner').html(str)
    });

</script>
<style>
    .profit{
        color: 	#EEAD0E;
    }
</style>

<script>
	$(document).ready(function() { _StickyMemory({{$.typeId}}) });
</script>
